<div class="references-list-wrapper mdc-elevation--z2">
  <ul class="mdc-list mdc-list--two-line link-list" aria-orientation="vertical">
    {% for reference in references %}
    <a href="{{ reference.get_absolute_url }}">
      <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons material-icons--{{ reference.icon }}" aria-hidden="true">{{ reference.icon }}</span>
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">{{ reference }}</span>
          <span class="mdc-list-item__secondary-text">{{ reference.source }}</span>
        </span>
        <span class="mdc-list-item__meta">
          <div class="mdc-chip-set">
            <div class="mdc-chip long-date" tabindex="0">
              <div class="mdc-chip__text">{{ reference.pub_date }}</div>
            </div>
            <div class="mdc-chip short-date" tabindex="0">
              <div class="mdc-chip__text">{{ reference.pub_date|date:"d.m.Y" }}</div>
            </div>
          </div>
        </span>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>
