{% load i18n %}

<header class="mdc-top-app-bar mdc-top-app-bar--fixed header">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="material-icons mdc-top-app-bar__navigation-icon" data-nav-toggle>menu</a>
      <div class="mdc-top-app-bar__content">
        <span class="mdc-top-app-bar__title">fakefiles.org</span>
      </div>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <span class="share-hint">{% trans 'Share this' %}</span>
      <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Share" alt="Share" data-share>share</a>
    </section>
  </div>
</header>
