{% extends 'base.html' %}

{% load i18n %}

{% block main %}
<section class="index-view">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="mdc-typography--headline1">
          {% trans 'Search' %} {% trans 'Fakes' %}
          {% if q %}{% trans 'for' %} <span class="q">{{ q|title }}</span>{% endif %}
        </h1>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5 mdc-layout-grid__cell--span-12-tablet">
        {% include './_search-form.html' %}
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-12-phone">
        <h2 class="mdc-typography--headline3 differentiate-hint">{% trans 'or' %}</h2>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5 mdc-layout-grid__cell--span-12-tablet">
        {% include './_reverse-image-form.html' %}
      </div>
    </div>
  </div>

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        {% if no_results %}
          <p>{% trans 'No results. Browse these images instead:' %}</p>
        {% elif q %}
          <p>{% trans 'Results for' %} <strong>{{ q }}</strong>:</p>
        {% endif %}
        {% include './_image-grid.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock main %}
