<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline1">
        Components
      </h1>
    </div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline3">
        Simple Elements
      </h1>
      <h2 class="mdc-typography--headline5">
        Buttons
      </h2>
      <button class="mdc-button">Button</button>
      <button class="mdc-button mdc-button--raised">Button raised</button>
      <button class="mdc-button mdc-button--unelevated">Button unelevated</button>
      <button class="mdc-button mdc-button--outlined">Button outlined</button>
      <button class="mdc-button mdc-button--dense">Button dense</button>
      <button class="mdc-button" disabled>Disabled Button</button>
      <h2 class="mdc-typography--headline5">
        Tags
      </h2>
      <div class="mdc-chip-set">
        <div class="mdc-chip" tabindex="0">
          <div class="mdc-chip__text">Chip content</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline3">Text</h1>
      <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <div class="mdc-card">
        <div class="mdc-card__media mdc-card__media--square">
          <div class="mdc-card__media-content">
            <h1 class="mdc-typography--headline4">
              Card Title
            </h1>
          </div>
        </div>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
          </div>
          <div class="mdc-card__action-icons">
            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
